<module xmlns="urn:jboss:module:1.3" name="org.jgroups.aws" slot="awsping">

  <resources>
    <resource-root path="jgroups-aws-${version.com.meltmedia.jgroups}.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.jgroups"/>
    <module name="org.slf4j"/>
    <module name="org.apache.httpcomponents"/>
    <module name="com.amazonaws.ec2" slot="awsping"/>
    <module name="com.amazonaws.core" slot="awsping"/>
    <module name="com.fasterxml.jackson.core.jackson-annotations"/>
    <module name="com.fasterxml.jackson.core.jackson-core"/>
    <module name="com.fasterxml.jackson.core.jackson-databind"/>
  </dependencies>

</module>

